/*SELECTOR {
	Property: value;
	
} 
*/
.food{ 
display: flex;
flex-wrap: wrap;
justify-content: center;
}
img {
width:300 px ;
height: 300 px;
transition: all 3s;
}

img:hover {transform: scale(1.1);
}
li {
	text-align: right;
	list-style: none;
 	display: inline-block;
}
body{

/*	background-image:url(logo.png) */
}
H1 {
	font-family: fantasy;
	font-size: 3em;
	border-bottom:2px solid pink;width: 400 px;
	text-align: center;
	
}
